.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center {
  margin-left: 40%;
  margin-top: 5%
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:left;
  width: 700px;
}
li {
  display: inline;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.logout {
  float:left;
}
.userName {
  float:left;
  margin: 10px 30px;
}
.logout{
  float:right;
}
#nav {
  width: 100%;
  height: 100px;
}
.button-margin {
  margin: 20px;
}
.red-border {
  border: 2px solid red;
}
.top {
  margin: 100px;
}
.author {
  background: cornflowerblue;
  margin: auto;
  padding: 10px;
  width: 100%;
}
.question {
  display: flex;
}
.question-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-options {
  display: flex;
  flex-direction: column;
}
.card-body {
  font-weight: bold;
}
.padding {
  padding: 10px;
}
.nav-link {
  color: none;
}
.navbar {
  background: cornflowerblue;
}
.center {
  margin: auto;
}
input {
  margin: 10px;
}
.signin-wrapper {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.card-info{
  display: flex; 
  justify-content: center;
  margin: auto;
  width:600px;
}
.result {
  border: 2px solid green; 
  background: cornflowerblue; 
  padding: 10px;
  margin: 10px;
}
.result-wrapper {
  background: lightsalmon; 
}
.center-card {
  display:flex; 
  justify-content: center;
  align-items:center;
}